.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

html,div{
    background-color: rgb(9, 34, 34);
    color: grey;
}

a.b{
    color: blueviolet;
}

.data-list{
    font-size: 20pt;
    list-style: none;
}

.data-list li{
    padding-bottom: 5pt;
}

button{
    background-color:chartreuse;
    color:black;
}

input{
    background-color: grey;
    color: black;
}

.hidden{
    display: none
}
